.postac-sheet {
  .atrybuty {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    .attribute-group {
      margin: 5px;
      border: 2px solid #444;
      background: #f4f1e8;
      .attribute-main {
        display: grid;
        grid-template-rows: auto 1fr;
        align-items: center;
        justify-items: center;

        .atr-a {
          text-align: center;

          border: 2px solid #444;
          padding: 4px;
          background: #e4e4e4;
          width: 100%;
        }
        a {
          font-size: larger;
          font-weight: bold;
        }
        .atr-um {
          text-align: center;
          align-items: center;
          margin-bottom: 5px;
          input {
            text-align: center;
            margin: 5px;
            width: 90%;
          }
          p {
            width: 50px;
            height: 50px;
            border: 2px solid #444;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: #ddd;
            font-size: 14px;
            margin: 0;
          }
        }
      }
    }
  }
  .atrybuty-pomocnicze {
    font-family: serif;
    margin-bottom: 10px;
    justify-items: center;
    margin-top: 10px;
    .pomocnicze-jeden {
      display: grid;
      grid-template-columns: 300px 300px 80px 80px 100px 80px;
      gap: 8px;
      > div {
        border: 2px solid #444;
        background: #f4f1e8;
        display: flex;
        flex-direction: column;
        min-height: 110px;

        > p,
        > a {
          text-align: center;
          font-weight: bold;
          font-size: 12px;
          border-bottom: 2px solid #444;
          padding: 4px;
          background: #eaeaea;
          margin: 0px;
        }
        .prorel-label {
          width: 50%;
        }

        .atr-um {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 6px;

          &.flexcol {
            flex-direction: row;
            justify-content: space-around;
          }

          .pt {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            max-width: 50%;
            p {
              font-size: 10px;
              margin: 0;
              width: 100%;
            }

            input {
              width: 40px;
              height: 40px;
              border: 2px solid #444;
              border-radius: 50%;
              text-align: center;
              background: #ddd;
              font-size: 14px;
            }
          }

          /* SINGLE VALUE (like initiative, ruch) */
          > input,
          > p {
            width: 40px;
            height: 40px;
            border: 2px solid #444;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: #ddd;
            font-size: 14px;
            margin: 0;
          }
        }

        /* PD special case (rectangle instead of circle) */
        &.attribute-main {
          .atr-um {
            input {
              width: 100%;
              height: 100%;
              border-radius: 0;
              border: none;
              background: #ddd;
              font-size: 16px;
            }
          }
        }
      }
    }

    /* SECOND ROW (kp / kmo) */
    .pomocnicze-dwa {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      margin-top: 8px;
      width: 100%;
      > div {
        border: 2px solid #444;
        background: #f4f1e8;
        display: flex;
        flex-direction: column;

        > p {
          text-align: center;

          font-size: 12px;
          border-bottom: 2px solid #444;
          padding: 4px;
          background: #eaeaea;
          margin: 0px;
        }

        .atr-um {
          padding: 6px;
          text-align: center;

          p:first-child {
            font-size: 16px;
            font-weight: bold;
          }

          p:last-child {
            font-size: 10px;
          }
        }
      }
      .prorel-value {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  .kompetencje {
    overflow-y: auto;
    overflow-x: auto;
    position: absolute;
    width: 470px;
    height: 48%;
    top: 530px;
            left: 5px;

    .skills-table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;

      th,
      td {
        width: 80px;
        min-width: 80px;
        max-width: 80px;

        padding: 4px;
        border: 1px solid #444;

        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-word;

        vertical-align: middle;
        box-sizing: border-box;
      }

      th {
        text-align: center;
      }
      th:nth-child(1),
      td:nth-child(1) {
        width: 35px;
        min-width: 35px;
        max-width: 35px;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 95px;
        min-width: 95px;
        max-width: 95px;
      }

      .mod {
        width: 90px;
        min-width: 90px;
        max-width: 90px;
        text-align: center;
      }

      th:nth-child(4),
      td:nth-child(4) {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
      }

      th:nth-child(5),
      td:nth-child(5) {
        width: 60px;
        min-width: 60px;
        max-width: 60px;
        text-align: center;
        input {
          text-align: center;
        }
      }

      .atr-type {
        writing-mode: vertical-lr;
        text-orientation: upright;
        text-align: center;
        padding: 3px;
      }
      .group-start td {
        border-top: 3px solid #000;
      }

      .group-end td {
        border-bottom: 3px solid #000;
      }

      /* left and right edges for full box feel */
      .group-start td:first-child,
      .group-start td[rowspan] {
        border-left: 3px solid #000;
      }

      td:last-child {
        border-right: 3px solid #000;
      }
    }
  }
  .header {
    margin: 0 auto;
    margin-left: 210px;

    .glowna {
      display: grid;
      justify-content: stretch;
      grid-template-columns: 150px 80px 250px 150px 100px;
      gap: 10px;
      justify-items: center;
      align-items: center;
      .actor-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 2px solid #444;
        background: #f4f1e8;
        input {
          text-align: center;
          width: 100%;
          background: transparent;
          border: none;
        }
        label {
          border: 1px solid;
          width: 100%;
          text-align: center;
          background: #e4e4e4;
          font-weight: bold;
          font-size: 22px;
          z-index: 1;
        }
      }
      .image-container {
        display: flex;
        max-width: 250px;
        max-height: 300px;
        height: 200px;
        width: 200px;
        background: #e2dbc9;
        border: 4px solid black;
        border-radius: 20px;
        align-items: center;
        margin: 10px;
        position: absolute;
        left: 0;
        top: 35px;
        justify-content: center;
        justify-content: center;
        .profile-img {
          max-width: 100%;
          max-height: 100%;
          border-radius: 16px;
          object-fit: fill;
        }
      }
    }
  }
  .charakter {
    .rotate {
      transform: rotate(-90deg);
      position: relative;
      transform-origin: bottom left;
      right: -480px;
                  justify-items: end;
    }
    h2 {
      text-align: center;
      margin-bottom: 5px;
      display: flex;
      position: relative;
      z-index: 99;
      justify-content: center;
      button {
        margin-left: 10px;
      }
    }

    .charakter-grid {
      display: grid;
      grid-template-columns: repeat(8, 65px);
    }
    .rot {
      left: -40px !important;
    }
    .axis.right {
      position: relative;
      left: -25px;
      .point {
        left: 0px !important;
        background: whitesmoke;
        border: 1px solid;
      }

      .axis.rotate {
        position: relative;
        left: -50px;
        transform: rotate(0deg);
        top: 5px;
        .point {
          left: 0px !important;
          background: whitesmoke;
          border: 1px solid;
        }
      }
    }
    .axis {
      display: grid;
      grid-template-rows: auto 1fr auto;
      justify-items: center;
      justify-content: center;
      width: 30px;
      .vertical {
        writing-mode: vertical-rl;
      }
      .axis-top {
        writing-mode: vertical-rl;
        font-weight: bold;
        height: 90px;
        border: 2px solid black;
        margin-bottom: 5px;
        padding: 4px;
      }

      .axis-track {
        display: flex;
        flex-direction: column;

        align-items: center;

        position: relative;
        gap: 5px;

        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 100%;
          background: #999;
          left: 50%;
          transform: translateX(-50%);
        }

        .point {
          position: relative;
          display: flex;
          align-items: center;
          left: -8px;
          height: 90px;

          input {
            display: none;
          }

          span {
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid #444;
            background: white;
            cursor: pointer;
            z-index: 1;
            position: relative;
          }

          input:checked + span {
            background: #222;
          }
        }
      }

      .axis-labels {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 11px;
        text-align: center;
      }
    }
  }
  .ekwipunek {
    h2 {
      text-align: center;
    }
    .monety {
      width: 33%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10px;
      gap: 5px;
      input {
        text-align: center;
        width: 50px;
      }
    }
  }
  .biografia {
    h2 {
      text-align: center;
    }
    .wyglad {
      display: flex;
      gap: 5px;
      align-items: center;
      margin: 5px;
    }
    .enrich {
      border: 1px solid black;
      border: 1px solid black;
      border-radius: 10px;
      margin-bottom: 10px;
      h2 {
        border: 1px solid black;
        border-radius: 10px;
      }
    }
  }
  .notatki {
    h2 {
      text-align: center;
    }
    .enrich {
      border: 1px solid black;
      border: 1px solid black;
      border-radius: 10px;
      margin-bottom: 10px;
      h2 {
        border: 1px solid black;
        border-radius: 10px;
      }
      prose-mirror{
            min-height: 450px;
      }
    }

  }
  .tab {
    padding: 5px;
    width: 540px;
    position: absolute;
    left: 480px;
    top: 520px;
    overflow: auto;
  }
}
