<nav class="sheet-tabs tabs" data-group="main">
  <a data-action="tab" data-tab="dane" data-group="main">{{localize
      "awanturnik20.item.bron.data"
    }}</a>
  <a data-action="tab" data-tab="opis" data-group="main">{{localize
      "awanturnik20.item.pancerz.opis"
    }}</a>
</nav>