<section class="header">
  <div class="glowna">
    <div class="image-container">
      <img
        class="profile-img"
        src="{{item.img}}"
        data-edit="img"
        data-action="editImage"
        data-edit="img"
      />
    </div>
    <div class="item-header">
      <label>{{localize "awanturnik20.item.gatunek.name_placeholder"}}</label>
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize 'awanturnik20.item.gatunek.name_placeholder'}}"
      />
    </div>
  </div>
</section>