<section
  class="tab ekwipunek {{tabs.kontuzje_stany.cssClass}}"
  action-data="tab"
  data-group="main"
  data-tab="kontuzje_stany"
>
  <div>
    <h2>{{localize "awanturnik20.actor.kontuzje_stany.label"}}</h2>
  </div>

</section>