<section
  class="tab czary {{tabs.czary.cssClass}}"
  action-data="tab"
  data-group="main"
  data-tab="czary"
>
  <div>
    <h2>{{localize "awanturnik20.actor.czary.label"}}</h2>
  </div>

</section>