<section
  class="tab ekwipunek {{tabs.rutyny.cssClass}}"
  action-data="tab"
  data-group="main"
  data-tab="rutyny"
>
  <div>
    <h2>{{localize "awanturnik20.actor.rutyny.label"}}</h2>
  </div>

</section>